/* Basic styles - Customize as needed */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 10px; 
}

.header-center {
    display: flex;
    justify-content: center; /* Center-align the tab buttons */
    align-items: center;
    flex: 1; /* Occupy available space */
    margin: 0 90px; /* Center horizontally */
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  margin: 0 auto; /* Center the main content horizontally */
  max-width: 800px; /* Adjust the max-width as needed */
}

main > h2 {
  text-align: center;
  margin: 0; /* Remove default margins */
}
main h2 {
  text-align: center;
  margin: 0;
}

img {
  width: 3%; /* Adjust this value as needed */
  height: auto; /* This maintains the image's aspect ratio */
}

section {
  margin-bottom: 30px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style for the tab buttons */
.tab-button {
  background-color: #f1f1f1;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

/* Active tab button style */
.tab-button.active {
  background-color: #ccc;
}

/* Style for the tab content */
.tab-content {
  display: none;
  padding: 20px;
}

/* Show the active tab content */
.tab-content.active {
  display: block;
}


form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.highlight {
    background-color: yellow; /* Change to the desired highlight color */
    font-weight: bold; /* Adjust styling as needed */
}

